# PostgreSQL connection string used for migrations
DIRECT_URL=""

# PostgreSQL connection string with pgBouncer config — used by Prisma Client
DATABASE_URL=""

# Supabase Base URL
SUPABASE_URL=""

# Supabase Anon Access Key
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Supabase Root Access Key - IMPORTANT! ONLY USE ON SERVER
SUPABASE_SERVICE_KEY=""
